[Unit]
Description=Run My Custom Service every 30 seconds

[Timer]
OnCalendar=*:*:00/30
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
