[Unit]
Description=My Java forking service
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/opt/htmlDownloader/server.sh
SuccessExitStatus=143
User=paulograbin

Type=simple

ExecStop=/bin/kill -15 $MAINPID